/* DersBul bileşeninin temel düzeni */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9; /* Nötr bir arka plan rengi */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Başlık stilleri */
.header {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* Sağ üst menü */
.top-right-menu {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Logo */
.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #007bff;
}

/* Menü öğeleri */
.menu-item {
    text-decoration: none;
    font-weight: bold;
    color: #007bff;
    padding: 5px 10px;
    border: 2px solid #007bff;
    border-radius: 4px;
    transition: all 0.3s;
}

.menu-item:hover {
    background-color: #007bff;
    color: white;
}

/* Form öğeleri */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Buton stilleri */
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: rgb(7, 234, 189);
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Yazdırılan durumlar */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 4px;
}

/* Takvim */
.react-calendar {
    margin: 0 auto 15px auto;
    border: none;
    box-shadow: 0 4px 8px rgba(225, 100, 16, 0.1);
    border-radius: 8px;
}

.react-calendar__tile {
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.react-calendar__tile--active {
    background-color: #007bff;
    color: white;
}

.react-calendar__tile:hover {
    background-color: #0056b3;
    color: white;
}
