* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, rgba(0, 123, 255, 0.8), rgba(0, 195, 255, 0.6));
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.signup-form {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  max-width: 500px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.signup-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 90px;
}

.signup-title {
  font-size: 1.8rem;
  color: #333;
  font-weight: bold;
  margin-right:85px;
  margin-top:30px;
}

.bold-label {
  font-weight: bold;
}

.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.form-item {
  width: 100%; /* Genişlik ayarı */
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 8px;
  border: 1px solid #b0bec5;
}

.signup-button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  background-color: #4a90e2;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #357ab8;
}

.radio-group {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .signup-form {
    width: 100%;
  }

  .signup-logo {
    width: 50px;
    height: 50px;
  }
}
